@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "KOHIBaeum";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.ttf")
      format("truetype");
  font-display: swap;
}

#sub {
  width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0 auto;
}

#sub > img {
  width: 120rem;
}

.twin_tab {
  background-color: #fff;
}

.twin_tab > button {
  width: 15.625rem;
  height: 2.5625rem;
  flex-shrink: 0;

  text-align: center;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;

  background: none;
  border: none;

  position: relative;
  top: -1rem;
}

.twin_tab > button:nth-child(1) {
  color: #145c93;
  font-weight: 800;

  border-bottom: 2px solid #145c93;
}

.twin_tab > button:nth-child(2) {
  color: #404040;
  font-weight: 500;
}

.string {
  width: 100rem;
  color: #145c93;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;

  padding: 2rem;
  /* font-weight: 600; */
}

.Extab {
  width: 100rem;
  margin: 0 auto;
  background-color: #fff;
}
.Extab .tab {
  display: flex;
  justify-content: center;
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 30px 30px 0px 0px;
  background: #fff;
}

.Extab .tab li:first-child {
  padding-left: 12rem;
}

.Extab .tab li:last-child {
  padding-right: 12rem;
}

.Extab .tab li {
  display: inline-block;
  border-bottom: 1px solid #145c93;
}
.Extab .tab li.is_on .btn {
  color: #145c93;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;

  border: 1px solid #145c93;
  border-bottom: 2px solid #fff;
  opacity: 1;
  background: #fff;
}
.Extab .tab .btn {
  position: relative;
  top: 1px;
  width: 13rem;

  padding-right: 1rem;
  padding-left: 1rem;

  color: #8a8f93;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;

  border-radius: 1rem 1rem 0rem 0rem;
  border-top: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
  opacity: 0.6;
  background: #e0e0e0;
}
.Extab .cont_area {
  margin: 10px auto;
}
.Extab .cont_area .cont {
  display: none;
  background: #fff;
  color: #000;
  text-align: center;
  width: 100%;
  padding-top: 20px;
}

.Extab .cont_area .is_on {
  display: inherit;
}

.Extab .cont_area .cont > div {
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Extab .cont_area .cont > div > div {
  margin: 2rem 0rem;
}

.cont .big_num_title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  flex-shrink: 0;
}

.cont .big_num_title div:nth-child(1) {
  width: 4.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  margin: 0.5rem;

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;

  border-radius: 6.25rem;
  background: #145c93;
}

.cont .big_num_title div:nth-child(2) {
  color: #145c93;
  text-align: center;
  font-family: Pretendard;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;

  padding: 0.5rem;
}

.cont .big_num_title div:nth-child(3) {
  color: #333;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;

  padding: 0.5rem;
}

.cont hr {
  color: #ccc;
  width: 62.5rem;
  border-width: 0.15rem;
}

.cont .sub_string {
  width: 59rem;
  /* margin: 1rem; */
  text-align: start;
  color: #333;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

.cont h4 {
  color: #145c93;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
}

.cont .tab_banner {
  width: 75rem;
  background-image: url("../image/tab_banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 4rem 1rem 7rem;
  margin: 5rem;
}

#big3 .tab_banner {
  margin-bottom: 6rem;
}

#big4 .tab_banner {
  display: flex;
  flex-direction: column;

  padding: 3rem 4rem 3rem 4rem;
}

#big3 .tab_banner div:nth-child(1) {
  margin-right: 0rem;
}

#big4 .nums {
  display: flex;
  flex-direction: row;
}

#big4 .num {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 15rem;
}

#big4 .num > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7.5rem;
  height: 7.5rem;
  flex-shrink: 0;
  /* margin: 4.5rem 0.5rem; */
  border-radius: 4.6875rem;

  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}

#big4 #num1 {
  background: rgba(144, 198, 76, 0.7);
}

#big4 #num3 {
  background: rgba(219, 226, 57, 0.6);
}

#big4 #num6 {
  background: #ffcf7c;
}

#big4 .num > div:nth-child(2) {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;

  margin-top: 1rem;
  height: 5rem;
}

.cont .tab_banner > div:nth-child(1) {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #000;
  font-family: Pretendard;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  margin-right: 5rem;
}

.cont .tab_banner div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cont .tab_banner div img {
  width: 10.3rem;
  height: auto;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  margin: 1rem;
  margin-right: 2rem;

  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cont .tab_banner div img#pyramid {
  width: 24rem;
  height: auto;
  margin: 0rem;
  margin-right: 5rem;

  position: relative;
  top: 4rem;

  border: none;
  box-shadow: none;
}

.cont .project div:nth-child(1) {
  color: #333;
  font-family: Pretendard;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
}

.cont .project > img {
  width: 70rem;
  margin-top: 3rem;
}

.cont .project img.repeat {
  width: 60rem;
  margin-top: 3rem;
}

.cont .project div:nth-child(2) {
  padding-top: 1rem;
}

.cont .project > div > img {
  width: 18rem;
  margin: 1rem;
}

.cont .simple img {
  width: 80rem;
  margin-top: 1rem;
}

.cont .simple2 img {
  width: 60rem;
  margin-top: 1rem;
}

.cont .tab_banner .lecture {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 9rem;
  height: 7.5rem;
  flex-shrink: 0;
  margin: 4.5rem 0.5rem;
  border-radius: 4.6875rem;

  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}

.cont .tab_banner .green {
  background: rgba(144, 198, 76, 0.7);
}

.cont .tab_banner .light {
  background: rgba(219, 226, 57, 0.6);
}

.half_banner {
  display: grid;
  grid-template-columns: 32fr 54fr;

  width: 75rem;
  margin: 1rem;
}

.half_banner > img {
  width: 28rem;
}

.half_banner .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;

  padding: 2rem 5rem;
  background: #f5f9f9;
}

.half_banner .description > div:nth-child(1) {
  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;

  margin-bottom: 1.8rem;
}

.half_banner .description > div:nth-child(2) {
  color: #000;
  font-family: Pretendard;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
}
